/* ------ BREAKPOINTS ---------*/
$tablet: 768px;

/*------- COLORS ----------*/
$primary-color: #0c1142;
$blue:          #2ad4db;
$light-blue:    #b2f0ee;
$yellow:        #f4c35d;
$light-yellow:  #ffffc8;
$red:           #BA0F30;
$light-gray:    #dddddd;
/* ------- FONT SIZES ---------*/
$text-sm:       14px;
$text-md:       16px;
