/* ------ BREAKPOINTS ---------*/
$tablet:        768px;
$desktop:       992px;

/*------- COLORS ----------*/
$dark-navy:     #1d2636;
$navy:          #24364E;
$yellow:        #f4c35d;
$light-yellow:  #ffffc8;
$red:           #fe2147;
$light-gray:    #dddddd;

/* ------- FONT SIZES ---------*/
$text-sm:       14px;
$text-md:       16px;
