@import "../../../styles/variables";

.rating {
    display: flex;
}

.starActive {
    width: 1rem;
    height: 1rem;
    cursor: default;
}

.star {
    width: 30px;
    height: 30px;
    color: $yellow;
    cursor: pointer;

    &:not(:first-child) {
        margin-left: 4px;
    }
}
